@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Common Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/* Header Section */
.top-banner {
    background-image: url(images/bgphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 40px 140px;
    border-radius: 20px;
}

.flex-container {
    display: flex;
}

.header {
    font-size: 70px;
    margin-top: 6%;
    padding-left: 12%;
    text-shadow: 100px;
}

.paragraph {
    padding-left: 15%;
    font-size: 16px;
    font-weight: 400px;
    padding-right: 10%;
    padding-left: 12%;
    text-shadow: 100px;
}

.watch-button {
    background-image: linear-gradient(rgb(112, 155, 255), #4300a8);
    border-radius: 5px;
    color: white;
    padding: 15px 40px;
    width: 196px;
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    top: 22px;
    margin-left: 12%;
}


.fa-angle-right {
    font-size: 20px;
    padding-left: 10px;

}

.image {
    width: 515px;
    position: relative;
    top: 7px;
    right: 60px;
}

/* Sidebar Section */
.sticky-sidebar {
    background-image: url(images/football.jpg);
    padding: 35px 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    list-style: none;
    float: left;
    position: sticky;
    top=0;
    width: 23%;
    height: 20%;
    margin-left: 9%;
}

.sticky-sidebar li a {
    display: block;
    position: relative;
    top: -17px;
    margin-top: 4%;
}

nav li a:hover {
    background-color: #121212;
    color: white;
    transition: 0.7s;
}

.button {
    background: rgb(91, 91, 244);
    border-radius: 8px;
    color: white;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 1%;
    text-align: center;
}

#list2 {
    padding-left: 92px;
    padding-right: 92px;
}

#list3 {
    padding-left: 116px;
    padding-right: 116px;
}

.transfer {
    float: right;
    margin-right: 10%;
}

.transfer-button {
    background-color: #ffffff;
    color: #161616;
    padding: 0 10px;
    box-shadow: black;
    border-radius: 5px;
}

h3 {
    margin-top: 10px;
    font-weight: 400px;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 25px;
    border-radius: 5px;
}

.article-border {
    border: 2px solid rgb(145, 145, 145);
    box-shadow: #121212;
    margin-right: 60px;
    border-top: 0;
    margin-left: 2px;
    border-radius: 10px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 1em;
}

.blog-banner img {
    width: 232px;
    height: 125px;
}

.blog-detail {
    padding: 15px;
}



.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#clock {
    color: grey;
    margin-top: 6px;
    padding-left: 2px;
}

#comment {
    font-size: 16px;
    font-weight: 400px;
    color: grey;
    margin-top: 6px;
    padding-left: 25px;
}

/* Footer-Section */

.footer-style {
    background: rgb(21, 21, 21);
    color: white;
    height: 400px;
    text-align: center;
    position: relative;
    top: -110%;
    padding-top: 20px;
    clear: both;
}

.footer-header {
    margin-top: 5%;
    margin-bottom: 3%;
}

hr {
    margin: 0 15%;
    color: rgb(176, 176, 176);
}

.footer-bottom a {
    color: rgb(176, 176, 176);
    position: relative;
    top: 50px;
    padding: 2%;
}

.icon-style a {
    color: white;
    position: relative;
    font-size: 25px;
    top: 100px;
    padding: .5%;
}


.footer-content h3 {
    position: relative;
    font-size: 16px;
    top: 80px;
}


@media screen (max-width:588px) {
    .flex-container {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        background-color: transparent;
    }

}